@font-face {
    font-family: 'RobotoSlabBold';
    src: url('../../../public/fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Regular';
    src: url('../../../public/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #d9d9d6;
    font-family: 'Fira Sans Regular';
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'RobotoSlab Bold', sans-serif;
}